# Dependencies
node_modules/

# macOS system files
.DS_Store

# Environment variables
.env

# Database files
data/*.db
data/*.db-journal
data/*.db-shm
data/*.db-wal

# Output files
output/
output/*

# Claude Config
settings.local.json